<h3>{TITLE}</h3>
<div class="il_Description_no_margin">{INFO}</div>
<div class="ilFloatRight form-inline">
	<form method="post" action="{SORT_FORM}">
		{SORT_SELECT}
	</form>
</div>
<br class="ilClearFloat" />
<p class="ilPCMyCourses">
	<ul class="il_Explorer ilPCMyCoursesCourseList">	
		<!-- BEGIN course_bl -->
		<li>
			<!-- BEGIN path_bl -->
			<div class="ilPCMyCoursesPath">{PATH}</div>
			<!-- END path_bl -->
			<a class="{TOGGLE_CLASS}" href="#"{NO_TOGGLE}><img class="course-list-tree-icon" src="templates/default/images/tree_col.svg" /></a>
			<img src="{CRS_ICON_URL}" alt="{CRS_ICON_ALT}" title="{CRS_ICON_ALT}" class="ilIcon"/>
			<!-- BEGIN course_link_bl -->
			<a href="{COURSE_LINK_URL}">{COURSE_LINK_TITLE}</a>
			<!-- END course_link_bl -->
			<!-- BEGIN course_nolink_bl -->
			{COURSE_NOLINK_TITLE}
			<!-- END course_nolink_bl -->
			<!-- BEGIN lp_bl -->		
			<div class="ilFloatRight">
				{LP_ICON}
			</div>
			<br class="ilClearFloat" />
			<!-- END lp_bl -->				
			<!-- BEGIN objectives_bl -->
			<ul class="il_Explorer ilPCMyCoursesObjectiveList" id="objtvlst_{OBJTV_LIST_CRS_ID}" <!-- BEGIN objective_dnone -->style="display:none"<!-- END objective_dnone -->>
				<!-- BEGIN objective_bl -->
				<li>
					<img src="{OBJTV_ICON_URL}" alt="{OBJTV_ICON_ALT}" title="{OBJTV_ICON_ALT}" />
					<!-- BEGIN objective_link_bl -->
					<a href="{OBJECTIVE_LINK_URL}" id="{OBJECTIVE_LINK_ID}">{OBJECTIVE_LINK_TITLE}</a>					
					<!-- END objective_link_bl -->
					<!-- BEGIN objective_nolink_bl -->
					{OBJECTIVE_NOLINK_TITLE}	
					<!-- END objective_nolink_bl -->
					<!-- BEGIN lp_objtv_bl -->		
					<div class="ilFloatRight">
						<img src="{LP_OBJTV_ICON_URL}" alt="{LP_OBJTV_ICON_ALT}" title="{LP_OBJTV_ICON_ALT}" /> 
						{LP_OBJTV_PROGRESS}				
					</div>					
					<br class="ilClearFloat" />
					<!-- END lp_objtv_bl -->									
				</li>
				<!-- END objective_bl -->
			</ul>
			<!-- END objectives_bl -->
		</li>
		<!-- END course_bl -->
	</ul>
</p>