<div class="ilTagCloud">
<!-- BEGIN tag_bl -->
<a href="{HREF}" onclick="il.Classification.toggle({tag_type: '{TAG_TYPE}', tag:'{TAG_CODE}', event: event});" class="ilTag {REL_CLASS} {HIGHL_CLASS}">{TAG_TITLE}</a>
<!-- END tag_bl -->
</div>